/*
** @Archivo:        creditos.css
** @Equipo: 	    CoyoAtlón
** @Descripción:    Diseño del html llamado "creditos.html"
*/
/*==============================Colores=======================*/
:root{
    --pink: #FFBEFF;
    --green: #70F15B; 
    --blue: #48C8FF;
    --orange: #FFBC3A;
    --fondo: #FEFFD9;

}

@font-face {
    font-family: anymice;
    src: url("../fonts/any.ttf");
    font-family: Galindo_normal;
    src: url("../fonts/Galindo/Galindo-Regular.ttf");
}


body{
    background-color: var(--fondo);
    width: 100%;
    height: 100%;
   
}
h1{
    font-family: Galindo_normal;
    position: absolute;
    margin-top: 18px;
    
    left: 40%;

}

/* ========= Título ==========*/
#titulo{
    position: absolute;
    background-color: var(--pink); 
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 25px;
}
#cont{
    top: 80%;
    margin-top: 10%;
    position: relative;
    font-family: Galindo_normal;;
    height:450px;
    width: 90%;
    left: 3%;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
}
#tarjeta1, #tarjeta2, #tarjeta3{
    
    width: 30%;
    height: 100%;
    text-align: center;
    align-items: center;
}
#tarjeta1{
    
    background-color: var(--green);
  
}
#tarjeta2{
    background-color: var(--orange);
}
#tarjeta3{
    background-color: var(--blue);
}
