:root{
    --pink: #FFBEFF;
    --green: #70F15B; 
    --blue: #48C8FF;
    --orange: #FFBC3A;
    --fondo: #FEFFD9;
}
@font-face{
    font-family: Galindo_normal;
    src: url("../fonts/Galindo/Galindo-Regular.ttf");
}
body{
    background-color: var(--fondo);
    /*width: 100%;
    height: 100%;*/
}
/*==========================Formato Diseño================================*/
    h1{
        position: relative;
        font-family: Galindo_normal;
        text-align: center;
        font-size: 5vh;
        top: -25%;
    }
    #fondoTitulo{
        position: absolute;
        background-color: var(--pink);
        width: 100%;
        height: 7.5%;
        top: 0%;
        left: 0;
        text-align: center;
    }
    #espacio{
        position: absolute;
        width: 100%;
        height: 10%;
        background-color: #1897ff;
    }

/* ==============================CLASES ================================= */
.tarjetasJugador{
    position:absolute;
    width: 280px;
    height: 110px;
    border-radius: 30px;
    display: none;
    text-align: center;
    font-family: Galindo_normal;
    font-size: 1vw;
}
.textoTarjetas{
    font-family: Galindo_normal;
    font-size: 1.5vw;
}



/*============================= ID ==================================*/
#juego{
    height: 800px;
}
#botonDado{
    position: absolute;
    background-color: var(--blue);
    width: 150px;
    height: 40px;
    top: 210px;
    left: 100px;
    border-radius: 15px;
}
#txtBotonDado{
    top: 0px;
    margin: 0px;
    font-family: Galindo_normal;
    font-size: 2vw;
    text-align: center;
}
#bloqueBoton{
    position: absolute;
    width: 155px;
    height: 50px;
    top: 175px;
    left: 95px;
    border-radius: 15px;
    display: none;
}
#comienzo{
    position: absolute;
    width: 139px;
    height: 70px;
    top: 775px;
    left: 50%;
    border-radius: 15px;
    background-color: var(--green);
    text-align: center;
    font-family: Galindo_normal;
    font-size: 3vh;
}
#comienzo:hover{
    background-color: #00b41e;
    cursor: pointer;
}
#botonDado:hover{
    background-color: #1897ff;
    cursor: pointer;
}

/* =======================================TARJETAS JUGADOR=========================================== */
#jug1{
    top: 300px;
    background-color: aqua;
    left: 1%;
}
#jug2{
    top: 480px;
    background-color: aqua;
    left: 1%;
}
#jug3{
    top: 300px;
    background-color: aqua;
    left: 79%;
}
#jug4{
    top: 480px;
    background-color: aqua;
    left: 79%;
}




