/*
** @Archivo:        perder.css
** @Equipo: 	    CoyoAtlón
** @Descripción:    Diseño de  vista perder
*/

:root{
    --pink: #FFBEFF;
    --green: #70F15B; 
    --blue: #48C8FF;
    --orange: #FFBC3A;
    --fondo: #FEFFD9;
}
@font-face{
    font-family: Galindo_normal;
    src: url("../fonts/Galindo/Galindo-Regular.ttf");
}
@font-face {
    font-family: anymice;
    src: url("../fonts/any.ttf");
}
body{
    background-color: var(--fondo);
}

#fondoTitulo{
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    height: 60px;
    top: 0%;
    left: 0;
    text-align: center;
}
#titulo{
    font-family: Galindo_normal;
    position: absolute;
    top: 7%;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    left: 44%;
}
#Seccion1{
    font-family: anymice;
    display: flex;
    flex-direction: column;
    top: 80px;
    margin: 80px;
    border:40px;
    align-items: center;
    font-size: 40px;
}
#Seccion2{
    font-family: anymice;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    text-align:center;
    width: 100%;
    right: 30%;
    justify-content: center;
    justify-items: center;
}
#perdiste{
    color: rgb(192, 0, 0);
}
#Regresar{
    font-size: 30px;
}




