/* ================================FUENTES ===========================  */
/*LA FUENTE PARA EL TITULO SE LLAMA "GALINDO"*/
@font-face{
    font-family: Galindo_normal;
    src: url("../fonts/Galindo/Galindo-Regular.ttf");
}
/* ============================== GENERAL ============================== */
body{
    background-color: #FEFFCA;
    width: 100%;
    height: 100%;
}

p{
    position: relative;
    top: 0%;
    font-family: Galindo_normal;
    /* font-family: ; 
    font-size: 3vw;
    margin: 0px;*/
}

/* ============================ CLASES ==============================*/
.diseñoFranjas{
    position: absolute;
    background-color: #70F15B;
    width: 100%;
    height: 4%;
}
.claseBotonMenu{
    position: absolute;
    background-color: #0071FF;
    width: 20%; 
    height: 9%;
    left: 15%;
    border-radius: 35px;
    text-align: center;    
    transition: background-color .5s;
}
.claseBotonMenu:hover{
    background-color: #004CAC;
    cursor: pointer;
    left: 12%;
    width: 21%;
    height: 10%;
}
.claseBotonMenu:active{
    transition: background-color .0s;
    background-color: #64a7f8;
}
.textoBotonMenu{
    position: relative;
    top: 15%;
    font-size: 2.5vw;
    margin: 0px;
}
.classLabelJugador{
    width: 20px;
    font-family: Galindo_normal;
    font-size: 1.5vw;
}

/* ========================== ID ===================================*/

#titulo{
    position: relative;
    top: 0%;
    /* font-family: ; */
    font-size: 5vw;
    margin: 0px;
}
#franja1{
    top: 1%;
    left: 0%;
}
#franja2{
    bottom: 1%;
    left: 0%;
}
#fondoTitulo{
    position: absolute;
    background-color: #FFBC3A;
    width: 100%;
    height: 12%;
    top: 7%;
    left: 0%;
}
#divTitulo{
    position: absolute;
    /* background-color: white; */
    width: 20%;
    height: 100%;
    top: 0%;
    left: 40%;
    text-align:center;    
}
#idBotonJugar{
    top: 35%;
    left: 15%;
}
#idBotonInstrucciones{
    top: 50%;
    left: 15%;
}
#idBotonCreditos{
    top: 65%;
    left: 15%;
}
#idImagen{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #D052EC;
    top: 30%;
    right: 15%;
    border-radius: 10%;
}
/* #idCreativeCommons{
    position: absolute;
    width: 13%;
    height: 8%;
    right: 0%;
    bottom: 6%;
} */

/* =====================================DIV FORMULARIO =====================================*/
#id_capaOscura{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #141414;
    opacity: 0.9;
    visibility: hidden;    
}
#id_caractJuego{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #e9eb94;
    top: 25%;
    left: 25%;
    border-style:solid;
    border-width: 15px;
    border-color: #0F6A00;
    visibility: hidden;
}
#numJugadores{
    position: relative;
    font-size: 2vw;
    left: 15%;    
}
#PcerrarVentana{
    margin: 10%;
    font-size: 2.5vw;
    top: 0%;
}
#cerrarVentana{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #d10808;
    top: 0%;
    right: 1%;
    border-radius: 50%;
    cursor: pointer;
}

