/* ================================FUENTES ===========================  */
/*LA FUENTE PARA EL TITULO SE LLAMA "GALINDO"*/
@font-face{
    font-family: Galindo_normal;
    src: url("../fonts/Galindo/Galindo-Regular.ttf");
}
/* ============================== GENERAL ============================== */
body{
    background-color: #FFBD97;
    width: 100%;
    height: 100%;
}

p{
    position: relative;
    top: 0%;
    font-family: Galindo_normal;
    /* font-family: ; 
    font-size: 3vw;
    margin: 0px;*/
}

/* ============================ CLASES ==============================*/
.diseñoFranjas{
    position: absolute;
    background-color: #FF6EB8;
    width: 100%;
    height: 4%;
}
.claseBotonMenu{
    position: absolute;
    background-color: #0071FF;
    width: 20%; 
    height: 9%;
    left: 15%;
    border-radius: 35px;
    text-align: center;    
    transition: background-color .5s;
}
.claseBotonMenu:hover{
    background-color: #004CAC;
    cursor: pointer;
    left: 12%;
    width: 21%;
    height: 10%;
}
.claseBotonMenu:active{
    transition: background-color .0s;
    background-color: #64a7f8;
}
.textoBotonMenu{
    position: relative;
    top: 25%;
    font-size: 2vw;
    margin: 0px;
}

/* ========================== ID ===================================*/

#titulo{
    position: relative;
    top: 20%;
    /* font-family: ; */
    font-size: 3vw;
    margin: 0px;
}
#franja1{
    top: 1%;
    left: 0%;
}
#franja2{
    bottom: 1%;
    left: 0%;
}
#fondoTitulo{
    position: absolute;
    background-color: #FEA470;
    width: 100%;
    height: 12%;
    top: 7%;
    left: 0%;
}
#divTitulo{
    position: absolute;
    /* background-color: white; */
    width: 20%;
    height: 100%;
    top: 0%;
    left: 40%;
    text-align:center;    
}
#idBotonJugar{
    top: 35%;
    left: 15%;
}
#idBotonInstrucciones{
    top: 50%;
    left: 15%;
}
#idBotonCreditos{
    top: 65%;
    left: 15%;
}
#idImagen{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #D052EC;
    top: 30%;
    right: 15%;
    border-radius: 10%;
}
#idCreativeCommons{
    position: absolute;
    width: 13%;
    height: 8%;
    right: 0%;
    bottom: 6%;
}

/* 380 133 */





