<!--
** @Archivo:        ganar.html
** @Equipo: 	    CoyoAtlón
** @Descripción:    Maquetado de la pantalla de ganar
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/ganar.css" type="text/css">
    <title>GANASTE</title>
    <link rel="icon" href="../statics/img/maraton.png" type="img/png">
</head>
<body>
    <div id="fondoTitulo" class=""><h1 id="titulo">Maratón</h1></div>
    <section></section>
        <div><h1>¡FELICIDADES GANASTE!</h1></div>
    
        <div> <img src="../statics/img/medalla.png" alt="medalla" width="400"></div>
        <div id="jugador"><h2>Jugador 1</h2></div>
        <div><h2>¡Demostraste muchos conocimientos!</h2></div>
        <div id="cerebro"> <img src="../statics/img/cerebro.png" alt="medalla" width="400"></div>

    </section>
</body>
</html>