<!--
** @Archivo:        instrucciones.html
** @Equipo: 	    CoyoAtlón
** @Descripción:    Maquetado de las instrucciones
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/instrucciones.css" type="text/css">
    <title>Instrucciones</title>
    <link rel="icon" href="../statics/img/maraton.png" type="img/png">
</head>
<body>
    <h1>Instrucciones</h1>
    <div class="desplegable" id="empezar">
        <h2>Para Empezar:</h2>
        <p>En la pagina inicial "<a href="../index.html">Inicio</a>" presiona el boton jugar, al presionar el boton se mostrará una pantalla emergente que te dara la opción de elegir el numero de participantes, el tamaño del tablero, y el color de los jugadores. <br>Para iniciar da click en el boton aceptar</p>
    </div> 
    
    <div class="desplegable" id="juego">
        <h2>En el juego:</h2>
        <h3>Al inicio:</h3>
        <p>Se lanzará el dado en orden del primer jugador al último. <br><br> El turno de los jugadores se decidirá de orden descendente iniciando por el jugador que haya obtenido el numero mas alto en el dado.</p>
        <h3>En el juego</h3>
        <p>El jugador que esta en turno tirará el dado, el numero que obtenga corresponderá a una materia. <br><br> Se mostrará una vista que contendra una pregunta y 4 respuestas. <br><br> El usuario que esta en turno debera contestar correctamente para poder avanzar un numero igual de casillas a los kilometros que vale la pregunta, de contestar mal la pregunta el jugador que tenga el turno siguiente debera de contestar, si vuelve a tener la respuesta incorrecta seguira la pregunta en el orden de los turnos de los jugadores.</p>
        <h3>¿Cómo ganar?</h3>
        <p>EL jugador que logre llegar a la ultima casillas primero sera el ganador del juego.</p>
    </div>
    <script src="../dynamics/js/instrucciones.js"></script>
</body>
</html>