<!--
** @Archivo:        perder.html
** @Equipo: 	    CoyoAtlón
** @Descripción:    Maquetado de la pantalla de ganar
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perdiste</title>
    <link rel="icon" href="../statics/img/maraton.png" type="img/png">
    <link rel="stylesheet" href="../statics/styles/perder.css">
</head>
<body>
    <div id="fondoTitulo" class="">
        <h1 id="titulo">Maratón</h1>
    </div>
    <div id="Seccion1">
        <div id="perdiste"><h1>PERDISTE :(</h1></div>

    <div id="ignorancia"> <img src="../statics/img/ignorancia.png" alt="ignorancia" width="400"></div>
    <div id="jugador">La ignorancia ganó</div><br><br>
    <div id="Seccion2">
        <div><h2>"Todos somos muy ignorantes.<br>Lo que ocurre es que no todos<br>ignoramos las mismas cosas" </h2></div>
        <div id="einstein"> <img src="../statics/img/einstein.png" alt="einstein" width="300px"></div>
        
    </div><br><br>
    <div><h2>¡Sigue aprendiendo!</h2></div>
    <div id="learn"> <img src="../statics/img/learn.png" alt="learn" width="300px"></div>
</body>
</html>